## Pandas Tutorial

In [ ]:
# Import Libraries

import pandas as pd
import numpy as np

#### Series

In [ ]:
list_1 = ['a', 'b', 'c', 'd']
labels = [1,2,3,4]
ser_1 = pd.Series(data=list_1, index=labels)
ser_1

In [ ]:
type(ser_1)

In [ ]:
len(ser_1)

In [ ]:
arr_1 = np.array([1,2,3,4])
ser_2 = pd.Series(arr_1)
ser_2

In [ ]:
dict_1 = {'f_name': "Vivek", 'l_name': "Banas", 'age': 44}
ser_3 = pd.Series(dict_1)
ser_3

In [ ]:
ser_3['f_name']

In [ ]:
ser_2 + ser_2

In [ ]:
ser_2 - ser_2

In [ ]:
ser_2 * ser_2

In [ ]:
ser_2 / ser_2

In [ ]:
np.exp(ser_2)

In [ ]:
ser_4 = pd.Series({4: 5, 5: 6, 6: 7, 7: 8}, name='series_name')
ser_4

In [ ]:
ser_2 + ser_4

# This varible not add due to the keys are not matching

In [ ]:
ser_4 = pd.Series({3: 5, 5: 6, 6: 7, 7: 8}, name='series_name')
ser_2 + ser_4

## DataFrames

### Creating DataFrames

In [ ]:
arr_2 = np.random.randint(5, 100, size=(2,3))
arr_2

In [ ]:
df_1 = pd.DataFrame(arr_2, ['A', 'B'], ['C', 'D', 'E'])
df_1

In [ ]:
dict_3 = {'One': pd.Series([1.,2.,3.], index=['a','b','c']),
          'Two': pd.Series([1.,2.,3.,4.], index=['a','b','c','d'])}

df_2 = pd.DataFrame(dict_3)
df_2

In [ ]:
pd.DataFrame.from_dict(dict([('A', [1,2,3]), ('B', [4,5,6])]))

df_3 = pd.DataFrame.from_dict(dict([('A', [1,2,3]), ('B', [4,5,6]), ('B', [4,5,6])]),
                       orient='index', columns=['One', 'Two', 'Three'])
df_3

In [ ]:
print(df_3.shape)

### Editing & Retriving Data

In [ ]:
print(df_1)
df_1['C']
df_1[['C','E', 'D']]

In [ ]:
print(df_1.columns)
print(df_1.loc['A'])
print(df_1.loc[['A','B']])

In [ ]:
df_1['Total'] = df_1['C'] + df_1['D'] + df_1['E']
print(df_1)
df_2['multi'] = df_2['One'] * df_2["Two"]
print(df_2)

In [ ]:
print(df_1)
dict_2 = {'C': 44, 'D': 45, 'E': 46}
new_row = pd.Series(dict_2, name='F')
# df_1 = df_1.append(new_row)

df_1 = pd.concat([df_1, pd.DataFrame([new_row])])
df_1

In [ ]:
df_1.drop('E', axis=1, inplace=True)
df_1

In [ ]:
df_1.drop('F', axis=0, inplace=True)
df_1

In [ ]:
# Create new Column and Meke it index
df_1['Sex'] = ['Men', 'Women']
df_1.set_index('Sex', inplace=True)
df_1

In [ ]:
df_2 = df_2.assign(div=df_2['One'] / df_2['Two'])
df_2 = df_2.assign(div_2=lambda x: (x['One'] / x['Two']))
df_2

In [ ]:
df_3 = pd.DataFrame({'A': [1., np.nan, 3., np.nan]})
df_4 = pd.DataFrame({'A': [8., 9., 2., 4.]})
df_3 = df_3.combine_first(df_4)
df_3

### Condition Selection

In [ ]:
arr_2 = np.random.randint(10,80, size=(2,3))
df_1 = pd.DataFrame(arr_2, ['A', 'B'], ['C', 'D', 'E'])
print(df_1)

In [ ]:
# Print Greater Than 40
df_greater_than_40 = df_1 > 40
print(df_greater_than_40)

In [ ]:
# Greater Than - gt
# Less Than - lt
# Greater Than and Equal too - ge
# Equal Too - eq
# Not Equal too - ne

df_gt_than_40 = df_1.gt(40.0)
print(df_gt_than_40)

In [ ]:
bool_1 = df_1 >= 40.0
df_1[bool_1]

In [ ]:
df_1['E'] > 40
df_2 = df_1[df_1['D'] > 30]
print(df_2['C'])
print(df_1[df_1['E']>20][['C', 'D']])

In [ ]:
arr_3 = np.array([[1,2,3],[4,5,6],[7,8,9]])
df_2 = pd.DataFrame(arr_3, ['A', 'B', 'C'], ['X', 'Y', 'Z'])
print(df_2)
print(df_2[(df_2['X'] > 3) & (df_2['X'] < 7)])
print(df_2[(df_2['X'] > 3) | (df_2['X'] < 7)])

### File Input / Output

Pandas can work with the following types of data: CSV. Plain Text, JSON, XML, PDF, HTML, XLSX, DOCX, ZIP, Images, Hierarchical Data Format, MP3 and MP4

In [ ]:
sales_df = pd.read_csv('..\datasets\sales_data_sample.csv', sep=",", encoding='latin1')
sales_df.head()

In [ ]:
sales_df = pd.read_csv('..\datasets\sales_data_sample.csv', usecols='STATUS', sep=",", encoding='latin1')
sales_df.head()

### Basics & Math

In [ ]:
# Get First 5 records
sales_df.head()

# Get Last 5 record
sales_df.tail()

# Get First 2 record
sales_df[:2]

# Get first 5 but 2 record interval
sales_df[:5:2]

In [ ]:
# Get All indexes
sales_df.index.array

In [ ]:
# Convert DataFram to to_numpy()

sales_df.to_numpy()

In [41]:
dict_3 = {'One': pd.Series([1.,2.,3.], index=['a','b','c']),
          'Two': pd.Series([1.,2.,3.,4.], index=['a','b','c','d'])}
df_2 = pd.DataFrame(dict_3)
print(df_2)
print(df_2.fillna(0, inplace=True))
row = df_2.iloc[1]
df_2.add(row, axis='columns')
df_2

   One  Two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0
None

   One  Two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  0.0  4.0

In [42]:
df_2.empty

False

In [43]:
# Add
df_5 = pd.DataFrame({'A': range(3), 'B': range(1,4)})
#Add
print(df_5.transform(lambda x: x+1))
#Square
print(df_5.transform(lambda x: x**2))
#Square Root
print(df_5.transform(lambda x: np.sqrt(x)))

   A  B
0  1  2
1  2  3
2  3  4
   A  B
0  0  1
1  1  4
2  4  9
          A         B
0  0.000000  1.000000
1  1.000000  1.414214
2  1.414214  1.732051

In [44]:
#Square on Two Different column
print(df_5.transform({'A':lambda x: x**2, 'B': lambda x: x**3}))

   A   B
0  0   1
1  1   8
2  4  27

In [45]:
print(df_5)
print(df_5['A'].map(lambda x: x**2))

   A  B
0  0  1
1  1  2
2  2  3
0    0
1    1
2    4
Name: A, dtype: int64

In [46]:
df_5['B'].unique()

array([1, 2, 3], dtype=int64)

In [47]:
df_5['B'].value_counts()

B
1    1
2    1
3    1
Name: count, dtype: int64

In [50]:
print(df_5.columns)
print(df_5.index)
print(df_5.isnull)

Index(['A', 'B'], dtype='object')
RangeIndex(start=0, stop=3, step=1)
<bound method DataFrame.isnull of    A  B
0  0  1
1  1  2
2  2  3>