### Iteration

In [9]:
import pandas as pd
import numpy as np

In [4]:
ser_1 = pd.Series(range(5), index=['a', 'b', 'c', 'd', 'e'])
arr_1 = np.random.randint(10, 50, size=(2,3))
df_1 = pd.DataFrame(arr_1, ['B', 'C'], ['C','D','E'])

In [5]:
for col in ser_1:
    print(col)

0
1
2
3
4

In [6]:
for level, ser in df_1.items():
    print(level)
    print(ser)

C
B    29
C    16
Name: C, dtype: int32
D
B    23
C    11
Name: D, dtype: int32
E
B    14
C    19
Name: E, dtype: int32

In [7]:
for index, row in df_1.iterrows():
    print(f"{index}\n{row}")

B
C    29
D    23
E    14
Name: B, dtype: int32
C
C    16
D    11
E    19
Name: C, dtype: int32

In [8]:
for row in df_1.itertuples():
    print(row)

Pandas(Index='B', C=29, D=23, E=14)
Pandas(Index='C', C=16, D=11, E=19)

### Sorting

In [12]:
print(df_1)
df_1.sort_index(ascending=False)

    C   D   E
B  29  23  14
C  16  11  19

    C   D   E
C  16  11  19
B  29  23  14

In [17]:
df_1.sort_values(by='E', ascending=True)

    C   D   E
B  29  23  14
C  16  11  19