In [1]:
# Import Libraries

import pandas as pd
import numpy as np

In [2]:
dict_1 = {'Store': [1,2,1,2], 'Flavor': ['Choc', 'Van', 'Straw', 'Choc'],
          'Sales': [26, 12, 18, 22]}

df_11 = pd.DataFrame(dict_1)
print(df_11)

   Store Flavor  Sales
0      1   Choc     26
1      2    Van     12
2      1  Straw     18
3      2   Choc     22

In [3]:
# Group by data on Store
by_store = df_11.groupby('Sales')
# by_store.mean()
by_store.sum()

       Store Flavor
Sales
12         2    Van
18         1  Straw
22         2   Choc
26         1   Choc

In [5]:
by_store.describe()

      Store
      count mean std  min  25%  50%  75%  max
Sales
12      1.0  2.0 NaN  2.0  2.0  2.0  2.0  2.0
18      1.0  1.0 NaN  1.0  1.0  1.0  1.0  1.0
22      1.0  2.0 NaN  2.0  2.0  2.0  2.0  2.0
26      1.0  1.0 NaN  1.0  1.0  1.0  1.0  1.0