In [32]:
import pandas as pd
import numpy as np

In [6]:
sales_df =  pd.read_csv('..\datasets\sales_data_sample.csv', sep=",", encoding='latin1')
sales_df.head()

sales_df = sales_df[['QUANTITYORDERED','PRICEEACH','SALES']]
sales_df.head()

   QUANTITYORDERED  PRICEEACH    SALES
0               30      95.70  2871.00
1               34      81.35  2765.90
2               41      94.74  3884.34
3               45      83.26  3746.70
4               49     100.00  5205.27

In [7]:
sales_df.count()

QUANTITYORDERED    2823
PRICEEACH          2823
SALES              2823
dtype: int64

In [8]:
sales_df.sum(skipna=True)

QUANTITYORDERED       99067.00
PRICEEACH            236168.07
SALES              10032628.85
dtype: float64

In [9]:
sales_df.mean()

QUANTITYORDERED      35.092809
PRICEEACH            83.658544
SALES              3553.889072
dtype: float64

In [10]:
sales_df.median()

QUANTITYORDERED      35.0
PRICEEACH            95.7
SALES              3184.8
dtype: float64

In [12]:
sales_df.mode()

   QUANTITYORDERED  PRICEEACH   SALES
0               34      100.0  3003.0

In [13]:
sales_df.min()

QUANTITYORDERED      6.00
PRICEEACH           26.88
SALES              482.13
dtype: float64

In [14]:
sales_df.max()

QUANTITYORDERED       97.0
PRICEEACH            100.0
SALES              14082.8
dtype: float64

In [15]:
sales_df.product()

e:\Github-Projects\Python-for-Data-Science\env\lib\site-packages\numpy\core\_methods.py:53: RuntimeWarning: overflow encountered in reduce
  return umr_prod(a, axis, dtype, out, keepdims, initial, where)

QUANTITYORDERED    0.0
PRICEEACH          inf
SALES              inf
dtype: float64

In [16]:
sales_df.std()

QUANTITYORDERED       9.741443
PRICEEACH            20.174277
SALES              1841.865106
dtype: float64

In [17]:
sales_df.var()

QUANTITYORDERED    9.489571e+01
PRICEEACH          4.070014e+02
SALES              3.392467e+06
dtype: float64

In [18]:
sales_df.sem()

QUANTITYORDERED     0.183344
PRICEEACH           0.379702
SALES              34.665892
dtype: float64

In [19]:
sales_df.skew()

QUANTITYORDERED    0.362585
PRICEEACH         -0.946649
SALES              1.161076
dtype: float64

In [20]:
sales_df.kurt()

QUANTITYORDERED    0.415744
PRICEEACH         -0.374818
SALES              1.792676
dtype: float64

In [24]:
sales_df.quantile()

QUANTITYORDERED      35.0
PRICEEACH            95.7
SALES              3184.8
Name: 0.5, dtype: float64

In [25]:
sales_df.cumsum()

      QUANTITYORDERED  PRICEEACH        SALES
0                  30      95.70      2871.00
1                  64     177.05      5636.90
2                 105     271.79      9521.24
3                 150     355.05     13267.94
4                 199     455.05     18473.21
...               ...        ...          ...
2818            98914  235840.31  10018037.17
2819            98943  235940.31  10022015.68
2820            98986  236040.31  10027433.25
2821            99020  236102.55  10029549.41
2822            99067  236168.07  10032628.85

[2823 rows x 3 columns]

In [27]:
sales_df['SALES'].cumprod()

e:\Github-Projects\Python-for-Data-Science\env\lib\site-packages\numpy\core\fromnumeric.py:59: RuntimeWarning: overflow encountered in accumulate
  return bound(*args, **kwds)

0       2.871000e+03
1       7.940899e+06
2       3.084515e+10
3       1.155675e+14
4       6.015602e+17
            ...
2818             inf
2819             inf
2820             inf
2821             inf
2822             inf
Name: SALES, Length: 2823, dtype: float64

In [28]:
sales_df['SALES'].cummax()

0        2871.00
1        2871.00
2        3884.34
3        3884.34
4        5205.27
          ...
2818    14082.80
2819    14082.80
2820    14082.80
2821    14082.80
2822    14082.80
Name: SALES, Length: 2823, dtype: float64

In [29]:
sales_df['SALES'].cummin()

0       2871.00
1       2765.90
2       2765.90
3       2765.90
4       2765.90
         ...
2818     482.13
2819     482.13
2820     482.13
2821     482.13
2822     482.13
Name: SALES, Length: 2823, dtype: float64

In [30]:
sales_df.describe()

       QUANTITYORDERED    PRICEEACH         SALES
count      2823.000000  2823.000000   2823.000000
mean         35.092809    83.658544   3553.889072
std           9.741443    20.174277   1841.865106
min           6.000000    26.880000    482.130000
25%          27.000000    68.860000   2203.430000
50%          35.000000    95.700000   3184.800000
75%          43.000000   100.000000   4508.000000
max          97.000000   100.000000  14082.800000

In [31]:
ser_dice = pd.Series(data=[2,3,3,4,5,5,7,65,8,9,2,3,4,6,89,3,3,4,5,6,7,32,32,56,56,5,65,6,5])

ser_dice.value_counts()

3     5
5     5
4     3
6     3
2     2
7     2
65    2
32    2
56    2
8     1
9     1
89    1
Name: count, dtype: int64

In [33]:
sales_df.agg(np.mean)

C:\Users\Journey\AppData\Local\Temp\ipykernel_10424\1053024350.py:1: FutureWarning: The provided callable <function mean at 0x000002B34F5EE5F0> is currently using DataFrame.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  sales_df.agg(np.mean)

QUANTITYORDERED      35.092809
PRICEEACH            83.658544
SALES              3553.889072
dtype: float64

In [34]:
sales_df.agg(['mean','std'])

      QUANTITYORDERED  PRICEEACH        SALES
mean        35.092809  83.658544  3553.889072
std          9.741443  20.174277  1841.865106