In [1]:
import numpy as np
import pandas as pd

In [2]:
dic_1 = {'A':[1,2,np.nan], 'B':[4, np.nan, np.nan], 'C':[7., 8., 9.]}
df_1 = pd.DataFrame(dic_1)
print(df_1)

     A    B    C
0  1.0  4.0  7.0
1  2.0  NaN  8.0
2  NaN  NaN  9.0

In [3]:
df_1.dropna()

     A    B    C
0  1.0  4.0  7.0

In [4]:
df_1.dropna(axis=1)

     C
0  7.0
1  8.0
2  9.0

In [5]:
df_1.dropna(axis=0)

     A    B    C
0  1.0  4.0  7.0

In [6]:
# Remove Row or Column who has 2 NaN data
df_1.dropna(thresh=2)

     A    B    C
0  1.0  4.0  7.0
1  2.0  NaN  8.0

In [7]:
df_1.fillna(value=0.0)

     A    B    C
0  1.0  4.0  7.0
1  2.0  0.0  8.0
2  0.0  0.0  9.0

In [8]:
df_1.fillna(value=df_1['A'].mean())

     A    B    C
0  1.0  4.0  7.0
1  2.0  1.5  8.0
2  1.5  1.5  9.0

In [9]:
# Fill previous value data
df_1.fillna(method='ffill')

C:\Users\Journey\AppData\Local\Temp\ipykernel_9884\834846617.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_1.fillna(method='ffill')

     A    B    C
0  1.0  4.0  7.0
1  2.0  4.0  8.0
2  2.0  4.0  9.0

In [10]:
df_1.ffill()

     A    B    C
0  1.0  4.0  7.0
1  2.0  4.0  8.0
2  2.0  4.0  9.0

In [11]:
# Fill previous value data
df_1.fillna(method='bfill')

C:\Users\Journey\AppData\Local\Temp\ipykernel_9884\3070469523.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_1.fillna(method='bfill')

     A    B    C
0  1.0  4.0  7.0
1  2.0  NaN  8.0
2  NaN  NaN  9.0

In [12]:
# Fill previous value data
df_1.bfill()

     A    B    C
0  1.0  4.0  7.0
1  2.0  NaN  8.0
2  NaN  NaN  9.0