#### Concatenate Merge & Join Data

In [1]:
import pandas as pd

In [3]:
df_12 = pd.DataFrame({'A': [1,2,3], 'B': [4,5,6]}, index=[1,2,3])
df_13 = pd.DataFrame({'A': [7,8,9], 'B': [10,11,12]}, index=[4,5,6])

pd.concat([df_12, df_13])

   A   B
1  1   4
2  2   5
3  3   6
4  7  10
5  8  11
6  9  12

In [9]:
df_12 = pd.DataFrame({'A': [1,2,3], 'B': [4,5,6], 'Key': [1,2,3]})
df_13 = pd.DataFrame({'A': [7,8,9], 'B': [10,11,12], 'Key':[4,5,6]})

pd.merge(df_12,df_13, how='outer', on='Key')

   A_x  B_x  Key  A_y   B_y
0  1.0  4.0    1  NaN   NaN
1  2.0  5.0    2  NaN   NaN
2  3.0  6.0    3  NaN   NaN
3  NaN  NaN    4  7.0  10.0
4  NaN  NaN    5  8.0  11.0
5  NaN  NaN    6  9.0  12.0