In [1]:
import pymysql as sql
import pandas as pd

In [ ]:
try:
    db_connection = sql.connect(db='students', user='admin', passwd='admin', host='localhost', port=3306)
    stud_df = pd.read_sql('SELECT * FROM Students', con= db_connection)
    print(stud_df)
except Exception as e:
    print("Exception : {}".format(e))
finally:
    db_connection.close()

#### Insert QUERY

In [ ]:
try:
    db_connection = sql.connect(db='students', user='admin', passwd='admin', host='localhost', port=3306)
    cursor = db_connection.cursor()
    query = "INSERT INTO Students VALUES(NULL, 'Derek', 'Banas', 'dbanas@aol.com', '')"
    cursor.execute(query)
    db_connection.commit()
    stud_df = pd.read_sql('SELECT * FROM Students', con= db_connection)
    print(stud_df)
except Exception as e:
    print("Exception : {}".format(e))
finally:
    db_connection.close()