In [1]:
import pandas as pd
import numpy as np

In [4]:
ser_1 = pd.Series(range(5), index=['a', 'b', 'c', 'd', 'e'])

sl_1 = ser_1[:4]
print(sl_1)
sl_2 = ser_1[1:]
print(sl_2)

a    0
b    1
c    2
d    3
dtype: int64
b    1
c    2
d    3
e    4
dtype: int64

In [5]:
# Macke the Uniion of sl_1 and sl_2

sl_1.align(sl_2)

(a    0.0
 b    1.0
 c    2.0
 d    3.0
 e    NaN
 dtype: float64,
 a    NaN
 b    1.0
 c    2.0
 d    3.0
 e    4.0
 dtype: float64)

In [6]:
# Make the Left Join of sl_1 and sl_2

sl_1.align(sl_2, join='left')

(a    0
 b    1
 c    2
 d    3
 dtype: int64,
 a    NaN
 b    1.0
 c    2.0
 d    3.0
 dtype: float64)

In [7]:
# Make the Right Join of sl_1 and sl_2

sl_1.align(sl_2, join='right')

(b    1.0
 c    2.0
 d    3.0
 e    NaN
 dtype: float64,
 b    1
 c    2
 d    3
 e    4
 dtype: int64)

In [8]:
# Make the Inner Join of sl_1 and sl_2

sl_1.align(sl_2, join='inner')

(b    1
 c    2
 d    3
 dtype: int64,
 b    1
 c    2
 d    3
 dtype: int64)

In [11]:
arr_2 = np.random.randint(10, 50, size=(2,3))
df_1 = pd.DataFrame(arr_2, ['A', 'B'], ['C', 'D', 'E'])
arr_3 = np.random.randint(10, 50, size=(2,3))
df_2 = pd.DataFrame(arr_2, ['B', 'C'], ['C', 'D', 'E'])

In [12]:
df_1.align(df_2)

(      C     D     E
 A  35.0  48.0  49.0
 B  35.0  12.0  23.0
 C   NaN   NaN   NaN,
       C     D     E
 A   NaN   NaN   NaN
 B  35.0  48.0  49.0
 C  35.0  12.0  23.0)

In [14]:
ser_1.reindex(['c', 'b', 'a'])

c    2
b    1
a    0
dtype: int64

In [15]:
df_1.reindex(['A', 'B'])

    C   D   E
A  35  48  49
B  35  12  23

In [16]:
df_1.drop(['A'], axis=0)

    C   D   E
B  35  12  23

In [17]:
df_1.drop(['D'], axis=1)

    C   E
A  35  49
B  35  23

In [18]:
df_1.rename(columns={'C': 'Hello', 'D': 'Hi', 'E': 'Bye'})

   Hello  Hi  Bye
A     35  48   49
B     35  12   23